* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#mapContainer {
    width: calc(100vw - 300px);
    left: 300px;
    height: 100vh;
    background: url("images/google-map-background.jpg");
}


/***************/
/*   MARKERS   */
/***************/


/* hospitals */
#mapContainer img[src*='medical'] {
     filter: saturate(3000%) hue-rotate(10deg);
     border: 1px solid white !important;
}
div .hospitals {
    border-color: rgb(199, 214, 0);
}
div .hospitals .markers-list {
    background-color: rgba(199, 214, 0, 0.4);
}

/* banks */
#mapContainer img[src*='financial'] {
     filter: saturate(1500%) hue-rotate(107deg) !important;
     border: 1px solid white !important;
}
div .banks {
    border-color: rgb(95, 224, 206);
}
div .banks .markers-list {
    background-color: rgba(95, 224, 206, 0.4);
}

/* Fast food */
#mapContainer img[src*='fastfood'] {
     filter: saturate(3000%) hue-rotate(250deg);
     border: 1px solid white !important;
}
#mapContainer img[src*='food'] {
     filter: saturate(3000%) hue-rotate(250deg);
     border: 1px solid white !important;
}
div .fast.food {
    border-color: rgb(255, 134, 255);
}
div .fast.food .markers-list {
    background-color: rgba(255, 134, 255, 0.4);
}

/* shop */
#mapContainer img[src*='shop'] {
     filter: saturate(2000%) hue-rotate(350deg);
     border: 1px solid white !important;
}
div .supermarkets {
    border-color: rgb(243, 192, 67 );
}
div .supermarkets .markers-list {
    background-color: rgba(243, 192, 67, 0.4);
}



/* Side Bar */
.component-side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: #f6f6f6;
    color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.component-side-bar header {
    font-size: 1.5rem;
    text-align: center;
    padding: 15px 0;
}
.component-side-bar header i {
    margin-right: 15px;
}

/* Categories */
.category-container {
    position: relative;
    margin: 5px 10px 15px;
    border-left: 5px solid;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.category-container .header-text {
    font-size: 18px;
    text-transform: capitalize;
    padding: 5px 10px
}
.category-container button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 10px;
    font-size: 16px;
    background-color: #aadaff;
    border: 1px solid #333;
}
.category-container i {
    padding: 2px 5px;
    line-height: 1
}
.category-container button:hover {
    background-color: #ffaaaa
}

.markers-list {
    list-style: none;
}

.markers-list li {
    padding: 5px 10px
}

.markers-list li:hover {
    background-color: #e2dfe2;
    cursor: pointer;
}

/* Footer */
.component-side-bar .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
    padding-bottom: 5px;
}


/******************/
/*   InfoWindow   */
/******************/

.infowindow-title {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #333;
    margin-bottom: 10px
}

.infowindow-img {
    display: inline-block;
}

.infowindow-img img {
    width: 100px;
    height: 150px;
}

.infowindow-url {
    padding-top: 10px;
}
.infowindow-url i {
    padding-right: 10px;
}

.infowindow-description {
    width: 150px !important;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    height: 150px;
    overflow: auto;
}

/* Loading Screen */
.loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #f6f6f6;
    z-index: 3000
}

.loading-screen i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1em;
    height: 1em;
    opacity: 0.3;
}

/* Location Selector */
.location-selector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: #f6f6f6 url('images/neighborhood.jpg') no-repeat 50% fixed / cover;
    box-shadow: inset 0px 0px 10000px 10px rgb(0,0,0);
}

.location-selector .input-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 100px;
}

.location-selector input,
.location-selector button {
    display: block;
    margin: auto;
    box-shadow: 0 0 20px #333;
}

.location-selector input {
    padding: 10px 15px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
    margin-bottom: 30px;
}

.location-selector input::placeholder {
    opacity: .7
}

.location-selector button {
    border: 2px solid rgb(93, 151, 224);
    background: rgb(0, 95, 214);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
}

.location-selector button:hover {
    border-color: rgb(81, 131, 193);
    background: rgb(2, 75, 167);
}

/* Break Points */
@media only screen and (max-width: 600px) {
    .component-side-bar {
        width: 100vw;
        top: 70vh;
        height: 30vh;
        overflow: auto;
    }

    #mapContainer {
        width: 100vw;
        left: 0;
        height: 70vh;
    }

    .loading-screen i {
        font-size: 5.3em
    }
    /* Footer */
    .component-side-bar .footer {
        position: relative;
        padding-top: 10px;
    }
}
